.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Insight-pltr,.Insight-amc,.Insight-penn,.Insight-gme {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.Insight-pltr {
  background-color: rgb(123, 123, 216);
}

.Insight-amc {
  background-color: rgb(221, 102, 102);
}

.Insight-penn {
  background-color: rgb(203, 203, 121);
}

.Insight-gme {
  background-color: rgb(98, 143, 98);
}

.Insight-card {
  display: inline-block;
  border: 2px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
